Repository doomemacs/snippets, pull requests merged in 2019-12, with the labels that each got.

#15 Corrected data type in [fn] snippet
  rust-mode/fn
Labels: bug, rust-mode

#16 Small improvements
  html-mode/form
  html-mode/html
  html-mode/html.xmlns
  html-mode/linkie
  html-mode/meta
  html-mode/meta.http-equiv
  html-mode/script
  html-mode/scriptsrc
  html-mode/textarea
  html-mode/th
  rust-mode/pub_fn
Labels: bug, html-mode, rust-mode

#18 Delete DOS line endings from nxml-mode snippets + fix href
  nxml-mode/body
  nxml-mode/br
  nxml-mode/code
  nxml-mode/form
  nxml-mode/h1
  nxml-mode/h2
  nxml-mode/h3
  nxml-mode/h4
  nxml-mode/h5
  nxml-mode/h6
  nxml-mode/head
  nxml-mode/hr
  nxml-mode/href
  nxml-mode/html
  nxml-mode/img
  nxml-mode/input
  nxml-mode/li
  nxml-mode/meta
  nxml-mode/name
  nxml-mode/ol
  nxml-mode/ol.id
  nxml-mode/p
  nxml-mode/pre
  nxml-mode/quote
  nxml-mode/span
  nxml-mode/span.id
  nxml-mode/style
  nxml-mode/table
  nxml-mode/td
  nxml-mode/th
  nxml-mode/title
  nxml-mode/tr
  nxml-mode/ul
  nxml-mode/ul.id
Labels: nxml-mode
