Repository doomemacs/snippets, pull requests merged in 2020-02, with the labels that each got.

#27 Add solidity-mode snippets
  solidity-mode/assert
  solidity-mode/contract
  solidity-mode/enum
  solidity-mode/event
  solidity-mode/for
  solidity-mode/function
  solidity-mode/if
  solidity-mode/ife
  solidity-mode/interface
  solidity-mode/library
  solidity-mode/modifier
  solidity-mode/require
  solidity-mode/struct
  solidity-mode/while
Labels: new, solidity-mode

#26 Add flux/redux snippets to +web-react-mode
  +web-react-mode/action
  +web-react-mode/container
  +web-react-mode/mergeProps
  +web-react-mode/reducer
Labels: +web-react-mode, new

#23 Add dockerize snippets for dockerfile-mode
  dockerfile-mode/dockerize-alpine
  dockerfile-mode/dockerize-ubuntu
Labels: dockerfile-mode, new

#21 Use user-full-name for snippet vars
  snippet-mode/vars
Labels: enhancement, snippet-mode

#20 Add +web-react-mode snippets
  +web-react-mode/component
  +web-react-mode/component-class
  +web-react-mode/componentDidMount
  +web-react-mode/componentDidUpdate
  +web-react-mode/componentWillUnmount
  +web-react-mode/createClass
  +web-react-mode/getDerivedStateFromProps
  +web-react-mode/getSnapshotBeforeUpdate
  +web-react-mode/shouldComponentUpdate
  +web-react-mode/useEffect
  +web-react-mode/useState
Labels: +web-react-mode, new

#28 Add Jupyter snippet to org-mode
  org-mode/jupyter
Labels: new, org-mode

#30 Improve Go snippets
  go-mode/const
  go-mode/f
  go-mode/fm
  go-mode/func
  go-mode/if
  go-mode/ife
  go-mode/ifunc
  go-mode/method
  go-mode/var
Labels: go-mode

#29 LaTeX theorem environments
  latex-mode/axiom
  latex-mode/begin
  latex-mode/corollary
  latex-mode/definition
  latex-mode/exercise
  latex-mode/lemma
  latex-mode/proof
  latex-mode/remark
  latex-mode/theorem
Labels: latex-mode

#31 Add 'at first line' condition to "mode" snippet
  fundamental-mode/mode
Labels: enhancement, fundamental-mode

#32 Generalize user and email on org/head template
  org-mode/head
Labels: enhancement, org-mode
