Repository doomemacs/snippets, pull requests merged in 2020-10, with the labels that each got.

#50 Adds new go snippets
  go-mode/append
  go-mode/ctxc
  go-mode/forw
  go-mode/go
  go-mode/gof
  go-mode/gofunc
  go-mode/interface
  go-mode/pkg
  go-mode/println
  go-mode/prln
  go-mode/select
  go-mode/wr
Labels: enhancement, go-mode, new

#49 Add Clojure snippets
  cider-repl-mode/.yas-parents
  clojure-mode/.yas-parents
  clojure-mode/bench
  clojure-mode/bp
  clojure-mode/def
  clojure-mode/defm
  clojure-mode/defn
  clojure-mode/defr
  clojure-mode/deft
  clojure-mode/doseq
  clojure-mode/fn
  clojure-mode/for
  clojure-mode/if
  clojure-mode/ifl
  clojure-mode/import
  clojure-mode/is
  clojure-mode/let
  clojure-mode/map
  clojure-mode/map.lambda
  clojure-mode/mdoc
  clojure-mode/ns
  clojure-mode/opts
  clojure-mode/pr
  clojure-mode/print
  clojure-mode/reduce
  clojure-mode/require
  clojure-mode/test
  clojure-mode/try
  clojure-mode/use
  clojure-mode/when
  clojure-mode/whenl
Labels: clojure-mode, new

#51 Org mode snippet tweaks
  org-mode/begin_center
  org-mode/begin_comment
  org-mode/begin_example
  org-mode/begin_export
  org-mode/begin_export_ascii
  org-mode/begin_export_html
  org-mode/begin_export_latex
  org-mode/begin_quote
  org-mode/begin_src
  org-mode/begin_verse
  org-mode/blog
  org-mode/code
  org-mode/dot
  org-mode/elisp
  org-mode/entry
  org-mode/export
  org-mode/figure
  org-mode/head
  org-mode/img
  org-mode/jupyter
  org-mode/latex
  org-mode/matrix
  org-mode/src
  org-mode/verse
  org-mode/width
Labels: enhancement, org-mode

#52 changed key for positional arguments
  python-mode/arg_positional
Labels: bug, python-mode
