Repository doomemacs/snippets, pull requests merged in 2020-03, with the labels that each got.

#34 Add `yas-selected-text` support to many LaTeX snippets
  latex-mode/alertblock
  latex-mode/alg
  latex-mode/block
  latex-mode/caption
  latex-mode/code
  latex-mode/emph
  latex-mode/frac
  latex-mode/frame
  latex-mode/if
  latex-mode/item
  latex-mode/itemize
  latex-mode/listing
  latex-mode/note
  latex-mode/python
  latex-mode/question
  latex-mode/textbf
Labels: enhancement, latex-mode

#36 Dart mode
  dart-mode/acls
  dart-mode/afun
  dart-mode/bltval
  dart-mode/cls
  dart-mode/didchdep
  dart-mode/dis
  dart-mode/do
  dart-mode/elif
  dart-mode/ext
  dart-mode/for
  dart-mode/fori
  dart-mode/fun
  dart-mode/get
  dart-mode/getset
  dart-mode/group
  dart-mode/if
  dart-mode/ife
  dart-mode/impl
  dart-mode/impo
  dart-mode/inis
  dart-mode/main
  dart-mode/part
  dart-mode/set
  dart-mode/stanim
  dart-mode/stful
  dart-mode/stless
  dart-mode/switch
  dart-mode/test
  dart-mode/try
  dart-mode/typedef
  dart-mode/while
Labels: dart-mode, new

#37 Fix react snippet
  +web-react-mode/useState
Labels: +web-react-mode, bug
