Repository doomemacs/snippets, pull requests merged in 2021-09, with the labels that each got.

#73 Create chinese_dollar in org mode
  org-mode/chinese_dollar
  org-mode/chinese_link
Labels: new, org-mode

#72 add racket-mode
  racket-mode/case
  racket-mode/caselambda
  racket-mode/cond
  racket-mode/define
  racket-mode/define-syntax
  racket-mode/do
  racket-mode/for
  racket-mode/if
  racket-mode/lambda
  racket-mode/let
  racket-mode/match
  racket-mode/unless
  racket-mode/when
Labels: new, racket-mode

#66 Add % to latex-mode snippets for chktex tests
  latex-mode/section
  latex-mode/subfigure
  latex-mode/subsec
Labels: enhancement, latex-mode

#65 Update readme with straight.el installation steps
  README.md
Labels: enhancement, docs
