Repository doomemacs/snippets, pull requests merged in 2022-05, with the labels that each got.

#80 nit(org-mode): remove duplicate quote snippet
  org-mode/begin_quote
Labels: is:feature, mode:org

#82 fix(org-mode): change deprecated keyword
  org-mode/figure
Labels: is:bug, mode:org

#83 fix(org-mode): Rename `code` snippet to `begin`
  org-mode/begin
  org-mode/code
Labels: mode:org, is:tweak

#87 simplify org-mode/dot snippet
  org-mode/dot
Labels: mode:org, is:tweak
