Repository doomemacs/snippets, pull requests merged in 2023-09, with the labels that each got.

#99 snippet(c++): fix beginend
  c++-mode/beginend
Labels: mode:snippet, mode:c++

#101 snippet(go): reformat & revise snippets for consistency
  go-mode/f
  go-mode/fm
  go-mode/func
  go-mode/imp
  go-mode/import
  go-mode/method
  go-mode/struct
  go-mode/switch
  go-mode/type
Labels: is:snippet, mode:go

#98 snippet(faust): improve license selection & add copyright
  faust-mode/declarelicense
  faust-mode/header
Labels: is:snippet, mode:faust

#96 snippet: add erlang-mode snippets
  erlang-mode/after
  erlang-mode/begin
  erlang-mode/beh
  erlang-mode/case
  erlang-mode/compile
  erlang-mode/def
  erlang-mode/exp
  erlang-mode/fun
  erlang-mode/if
  erlang-mode/ifdef
  erlang-mode/ifndef
  erlang-mode/imp
  erlang-mode/inc
  erlang-mode/inc.lib
  erlang-mode/loop
  erlang-mode/mod
  erlang-mode/rcv
  erlang-mode/rcv.after
  erlang-mode/rec
  erlang-mode/try
  erlang-mode/undef
Labels: is:snippet, mode:erlang
